body{
    background-image: url(background_.jpg);
}

#title, .subtitle{
    color: #FFFFF0;
}

.post_title{
    color: white;
    font-size: 18px;
    font-style: oblique;
    font-family: serif;   
}


header{
    color: white;
    font-size: 18px;
    font-family: serif; 
}

footer{
    color: white;
    font-size: 16px;
    font-family: serif;        
}
a,p {
    color: white;
}